.footer{
    text-align: center;
    color:lightcoral;
    background-color:lightgrey;
    
}

#navbar_name{
    font-size: 40px;
    color:lightcoral;

}
p{
    font-style: italic;
    color: white;
}

.container{
    background-color:lightcoral ;
}

#caption{
    color: white;
}
    